.post-list .post-summary .card-title {
  font-weight: 500;
  font-size: 2rem; }

.post-list .post-summary .card-content:hover {
  background-color: lightblue; }

.notifications-section .card-title {
  font-weight: 500;
  font-size: 2rem; }

.post-details.section .card-title {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem; }

.post-details.section .card-content {
  padding-top: 0; }
  .post-details.section .card-content p {
    font-size: 1.5rem; }

.post-details.section .back-arrow:hover {
  color: black; }

::-webkit-input-placeholder {
  color: black;
  padding-left: 8rem;
  font-style: italic;
  font-size: 1rem; }
