.post-list .post-summary .card-title {
  font-weight: 500;
  font-size: 2vw; }

.post-list .post-summary .card-content:hover {
  background-color: lightblue; }

.notifications-section .card-title {
  font-weight: 500;
  font-size: 2vw; }

.post-details.section .card-content {
  padding-top: 0; }

.post-details.section .back-arrow:hover {
  color: black; }
