.post-list .card:hover {
    background-color: rgb(191, 223, 250);
}
.card .card-content .card-title {
    font-weight: bold;
}

.post-details .card .card-content {
    padding-top: 0;
    margin-top: -15px;
}

.material-icons.medium:hover {
    cursor: pointer;
}